@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .imagen-contacto {
    background-image: url(../img/encuentra.jpg);
}

.webp .imagen-contacto {
    background-image: url(../img/encuentra.webp);
}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: v.$separacion * 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        font-weight: v.$bold;
        color: v.$blanco;
    }
    p {
        color: v.$blanco;
        font-size: 1.8rem;
        padding: 0 2rem;
    }
}