@use 'base/variables' as v;

.footer {
    background-color: v.$grisOscuro;
    // padding: v.$separacion / 2 0;
    padding: calc(v.$separacion / 2) 0;
    
    .contenedor-footer {
        // padding: v.$separacion / 2;
        padding: calc(v.$separacion / 2);
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}