@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {

    padding-top: 1rem;

    @include m.tablet {
        display: flex;
        align-items: center;
        padding-top: 0rem;
    }

    a {
        color: v.$blanco;
        font-size: 2rem;
        display: block;
        text-align: center;

        &:hover {
            color: v.$verde;
        }

        @include m.tablet {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}