@use 'base/variables' as v;
@use 'base/mixins' as m;

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include m.tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include m.tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.mobile-menu {
    padding-top: 1rem;

    @include m.tablet {
        display: none;
    }

    img {
        width: 4rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
    padding-top: 1rem;

    @include m.tablet {
        display: flex;
        align-items: center;
        padding-top: 0rem;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: v.$blanco;
        font-size: 2rem;
        display: block;
        text-align: center;

        &:hover {
            color: v.$verde;
        }

        @include m.tablet {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}